{
  "extends": ["react-app", "react-app/jest", "eslint:recommended", "plugin:prettier/recommended"],
  "rules": {
    "linebreak-style": ["error", "unix"],
    "eqeqeq": "error",
    "no-trailing-spaces": "error",
    "object-curly-spacing": ["error", "always"],
    "arrow-spacing": ["error", { "before": true, "after": true }],
    "no-console": 0,
    "no-unused-vars":"error"
  }
}
